@import'variables'; 
@import'header';
@import'footer';

*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

p{
    font-family: $font-principal

}

h1{
    font-size: 30px;
    text-align: center;
 
}
h2{
    background-image: url(../recursos/section1.JPG);
    margin: 0;
    background-position: center; 
    width: 100%;
    height: 300px;
    text-align: center;
    font-size: 30px;

} 
ul {
    padding: 0;
    list-style: none;
    margin: 0;
    background: gray;
    line-height: 30px;
    color: white;
    background-color:$color-principal;
    font-size: 50px;
    text-align: center;
    font-style: italic; 
    list-style-type: none;
   
}

a{
    color: white;
    text-align: none;
    display: block;
    text-decoration: none;
}

li{
    width: 100px;
    display: inline-block;
    text-align: center;
}


    .vip__list{
        text-align: center;
      
     

    } 
    .titulo__viplist{
        font-size: 50px;
      
    } 


article{
    display: inline;
    width: 50px;
    height: 50px;

    } 

    .datos__menu { 
        display: flexbox;
        text-align: left;
        width: 10px;
        height: 10px;

    }
 
    img{
        padding: 10px;
        margin: 40px;
        width: 200px;
        height: 200px;
        transform: scale(1.5);
        }

button{
    padding: 10px 20px;
    border-radius:3px;
    background: #FF6F00;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    cursor: pointer;
}


form{
 text-align: center;
 grid-area: initial;
 justify-self: center;
 display: flex;
 flex-direction: column;
 gap: 0.63rem;
}


.grid{
    &__container{
        display: grid;
        grid-template-rows:150px 150px 150px 150px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1px;
        justify-content:center ;
        background-position: center;
    }
    &__item{
        border: 1px solid grey;
    }
    &__uno{
        grid-row-start: 1;
        grid-row-end: 3;
        background-image: url(../recursos/sassII/verde.jpg);
        background-size:300px;
        background-repeat: no-repeat;
        background-position: inherit;
        display: flex;
        flex-direction: column column-reverse;

    }
    &__cuatro{
        grid-row:2/5;
        grid-column:2/3;
        background-image:url(../recursos/funda1.jpg);
        background-position:inherit;
        background-size:cover;
        display:flex;
        flex-direction:column; 

    }
    
    &__cinco{
        grid-row: 2/4;
    grid-column: 3/4;
    background-image: url(../recursos/cortina1.jpg);
    background-position:inherit;
    background-size:contain ;
    background-repeat:no-repeat;
    display: flex;
    flex-direction:column column-reverse;
    }
   
    &__containers{
        display:grid;
        grid-template-areas:"header header header"
                               "main main main"
                            "footer footer footer"

    }

    &__dos{
    background-image: url(../recursos/ALMOHADONES.jpg);
    }

    &__tres{
        background-image: url(../recursos/CORTINAS.jpg);
    }

    &__seis{
        background-image: url(../recursos/FUNDASDESILLONES.jpg);
    }
 

}
.footer{
    display: flex;
    grid-area: footer;
    &__redes{
        width: 50px;
        height: 50px;
    }
    
}
  
header{
    grid-area: header;
} 
main{
    grid-area: main;
}
/* extend */ 
.error {
color: red;
font-size: medium;
}
